.apropos_section {
    background-image: url(../images/healthy-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    text-align: center;
  }
  
.apropos_section h2 {
  font-weight: bold;
}
  
.apropos_section p {
  margin-top: 35px;
}
  
.apropos_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
}
  

.butt {
  margin-top: 5%;
}
.styledbut {
  
  padding:25px ! important;
  color:#fff;
  text-decoration: none;
  --g: 4px;     /* the gap */
  --b: 6px;    /* border thickness*/
  --c: #fff; /* the color */
  border-radius: 8px;
  
  padding: calc(var(--g) + var(--b));
  --_c: #0000 0 25%, var(--c) 0 50%;
  --_g1: repeating-linear-gradient(90deg ,var(--_c)) repeat-x;
  --_g2: repeating-linear-gradient(180deg,var(--_c)) repeat-y;
  background:
    var(--_g1) var(--_p, 25%) 0   ,var(--_g2) 0    var(--_p,125%),
    var(--_g1) var(--_p,125%) 100%,var(--_g2) 100% var(--_p, 25%);
  background-size: 200% var(--b),var(--b) 200%;
  cursor: pointer;
  filter: grayscale(50%);
  transition: .3s;
}

.styledbut:hover {
  --c: #ff2953; /* the color */
  color:white;
  --_p: 75%;
  filter: grayscale(0%);
  border-radius: 8px;
}