.contact_section {
    position: relative;
    background-color: #27223f;
    color: #ffffff;
  }
  
  .contact_section .heading_container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
  
  .contact_section .heading_container h2::before {
    text-align: left;
    left: 0;
    -webkit-transform: none;
            transform: none;
  }
  
  .contact_section .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .contact_section .img-box img {
    width: 100%;
  }
  
  .contact_section .form_container {
    padding: 45px 0 45px 15px;
  }
  
  .contact_section input {
    width: 100%;
    border: none;
    background-color: #ffffff;
    outline: none;
    color: #000000;
    margin-top: 25px;
    padding: 12px;
  }
  
  .contact_section input::-webkit-input-placeholder {
    color: #2a2a2c;
  }
  
  .contact_section input:-ms-input-placeholder {
    color: #2a2a2c;
  }
  
  .contact_section input::-ms-input-placeholder {
    color: #2a2a2c;
  }
  
  .contact_section input::placeholder {
    color: #2a2a2c;
  }
  
  .contact_section input.message-box {
    padding: 45px 12px;
  }
  
  .contact_section button {
    outline: none;
    border: none;
    color:#fff;
    background-color: #ff2953;
    margin: 45px 0 0 auto;
    text-transform: uppercase;
  }


  .buttgrow {
  height: 50px;
  width: 150px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 1rem sans-serif;
  will-change: transform;
}

.buttgrow::before,
.buttgrow::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  background-color: #ff2953;
  transition: all 250ms ease-in-out;
}

.buttgrow::before {
  width: 2px;
  height: 50px;
  box-shadow: 148px 0 #ff2953;
}

.buttgrow::after {
  height: 2px;
  width: 150px;
  box-shadow: 0 48px #ff2953;
}

.buttgrow:hover::before {
  left: -10px;
  box-shadow: 168px 0 #ff2953;
}

.buttgrow:hover::after {
  top: -10px;
  box-shadow: 0 68px #ff2953;
}