.counters {
   display :flex;
   text-align: center;
   color: #fff;
}

.counters > * {
    margin-right:10%;
    margin-right:10%;
}

.counter {
    background-image: url(../images/healthy-bg.jpg);
    background-size: cover;
    text-align: center;
}