.footer_section {
    background-color: #fbfdfd;
    padding: 20px;
    font-weight: 500;
  }
  
  .footer_section p {
    color: #292929;
    margin: 0;
    text-align: center;
  }
  
  .footer_section a {
    color: #292929;
  }