.modaltitle {
    font-weight: bold;
    color:white;
}



.descriptionModal {
    color:white;
    border-radius: 10px;
    border-color: white;
    border: solid 1px;
}

.descriptionModal p {
    margin:25px
}

.descriptionModal h2 {
    margin-top: 10px;
}

.mymodal .box {
    margin-top: 55px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.box .img-box {
    border-radius: 15px;
    overflow: hidden;
}

.box .img-box img {
    width: 100%;
}


.close {
    padding: 10px;
    outline: none;
    text-decoration: none;
    background-color: #ff2953;
    border: solid 1px;
    border-color: #ff2953;
    border-radius: 5px;
    color:white;

    position:fixed;
    right: 50px;
    bottom: 50px;

    transition-duration: 200ms;
    &:hover {
        background-color: white;
        color: #ff2953;
    }
}