.header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
.header_section .nav_container {
margin: 0 auto;
}



.navbar-nav .nav-item.active a::after, .navbar-nav .nav-item:hover a::after {
  display: block;
  background-color: #ff2953;
  transform: scaleX(1);
  transform-origin: bottom left;
}

a,
a:hover,
a:focus {
text-decoration: none;
}

a:hover,
a:focus {
color: initial;
}

.btn,
.btn:focus {
outline: none !important;
-webkit-box-shadow: none;
        box-shadow: none;
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
}

.navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
  }

.navbar-brand { 
font-size: 22px!important;
text-transform: uppercase!important;
font-weight: bold!important;
color: #ffffff !important;
position: relative !important;
z-index: 3!important;
}


.navbar-collapse {
  flex-grow:0 !important;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  color:white !important;
}


.navbar-toggler .navbar-toggler-icon {
  background-image: url(../images/menu.png);
  background-size: 55px;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none!important;
    box-shadow: none!important;
}

.textHover {
  --c:linear-gradient(#fff 0 0); /* update the color here */
  
  padding-bottom: .15em;
  background: var(--c), var(--c);
  background-size: .3em .1em;
  background-position:50% 100%;
  background-repeat: no-repeat;
  transition: .3s linear, background-size .3s .2s linear;
}

.textHover:hover {
  background-size: 40% .1em;
  background-position: 10% 100%, 90% 100%;
}





.navbar-nav .nav-item .nav-link {
  margin: 10px 30px;
  padding: 0;
  padding-bottom: 3px;
  color: #ffffff;
  text-align: center;
  position: relative;
  
  text-transform: uppercase;
  font-size: 15px;
}

.navbar-nav .nav-item .nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: -5px;
  left: -1px;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.navbar-nav .nav-item .nav-link:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}



  
  