h3 {
    margin-top: 3%;
}

.description {
    border-color: grey;
    border: solid 1px;
    border-radius: 10px;
    padding: 5%;
}

.h2-projets {
    color:#6B51B0;
}

.smallDesc {
    font-size: medium;
    font-weight: bold;
    margin-top: 10%;
}

.lireplus {
    position: relative;
    font-weight: bold;
    margin-top: 10%;
    font-size: medium;
    color:#525EC7;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    
}
.lireplus:hover {
    color: #ff2953;
    margin-left: 10px;
    cursor:pointer;
}

.acceder {
    position: relative;
    font-weight: bold;
    font-size: medium;
    color:#525EC7;
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    
}
.acceder:hover {
    color: green;
    margin-left: 10px;
    cursor:pointer;
}

.img-projets {
    border-radius: 3px;
    width: 100%;
}