.reseaux_section {
    background-image: url(../images/trainer-bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
  }
  
.reseaux_section .box {
  margin-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.reseaux_section .box .name h5 {
  font-weight: bold;
  margin-bottom: 15px;
}

.reseaux_section .box .img-box {
  border-radius: 15px;
  overflow: hidden;
}

.reseaux_section .box .img-box img {
  width: 100%;
}

.reseaux_section .box .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 45px;
  background-color: #ffffff;
  border-radius: 50px;
  margin-top: -25px;
}
  

.mini-box {
  display: block;
  background: #fff;
  padding: 5px;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.mini-box:hover {
  margin-top: -10px;
}
